<div class="row" style="padding-top:20px; padding-bottom:20px;">
  <div class="col-md-11">
      <h1 style="font-size:300%;"><strong>Here</strong></h1>
      <h1 style="font-size:200%;"><strong>Admin Office</strong></h1>
  </div>
  <div class="col-md-1" style="padding-top:10px;">
    <%=link_to "Sign Out", "/god/sign_out", :class => "btn btn-dark", :role => "button"%>
  </div>
</div>
<div class="row" style="padding-bottom:20px;">
  <nav class="nav nav-pills nav-fill" style="width:100%;">
    <a class="nav-item nav-link active" href="#">Courses</a>
    <a class="nav-item nav-link" href="#">Teachers</a>
    <a class="nav-item nav-link" href="#">Students</a>
  </nav>
</div>
<div class="row" style="padding-bottom:10px;">
  <div class="col-md-5">
    <h3>Courses</h3>
  </div>
  <div class="col-md-1">
    <%=link_to "+", "/courses/new", :class => "btn btn-dark", :role => "button", :id => "button_new"%>
  </div>
  <div class="col-md-5">
    <h3>Groups</h3>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-dark" style="right:20px; position:absolute;">+</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="list-group" style="width:100%;">
      <a href="#" class="list-group-item list-group-item-action">Cras justo odio <span class="badge badge-primary badge-pill">1</span></a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in <span class="badge badge-primary badge-pill">1</span> </a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus <span class="badge badge-primary badge-pill">1</span></a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac <span class="badge badge-primary badge-pill">1</span></a>
      <a href="#" class="list-group-item list-group-item-action ">Vestibulum at eros <span class="badge badge-primary badge-pill">1</span></a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group" style="width:100%;">
      <a href="#" class="list-group-item list-group-item-action">Cras justo odio <span class="badge badge-primary badge-pill">1</span></a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in <span class="badge badge-primary badge-pill">1</span> </a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus <span class="badge badge-primary badge-pill">1</span></a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac <span class="badge badge-primary badge-pill">1</span></a>
      <a href="#" class="list-group-item list-group-item-action ">Vestibulum at eros <span class="badge badge-primary badge-pill">1</span></a>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>